psutil
opencv-python
opencv-contrib-python
python-dotenv
numpy
Pillow
plyer
PyQt5
mediapipe
pyautogui
comtypes
pyttsx3
SpeechRecognition
PyAudio
requests
beautifulsoup4
python-dateutil
pywin32
numpy
pandas
scikit-learn
scipy
opencv-python
numpy
pynput
pygame
edge-tts
instagrapi
groq
pandas
pdfplumber
GPUtil
mtranslate
scikit-learn
tensorflow
scikit-learn
spacy
numpy
googlesearch-python
cryptography
pywhatkit
webdriver-manager
selenium
fpdf
AppOpener
keyboard
requests
beautifulsoup4
pytube
groq
yfinance
cohere
rich 
groq